body {
  background: #f2f2f2;
  padding: 5px 20px 0 20px;
  color: #444;
  font-size: 13px;
}

h1, footer p {
  text-align: center;
}
h1{
  margin-bottom: 20px;
  font-size: 16px;
}
.row {
  display: flex;
  line-height: 24px;
  margin-top: 8px;
}
.row label {
  display: block;
  width: 54px;
  margin-right: 5px;
}
.row input {
  width: 180px;
}
.row .btn {
  width: 100%;
  text-align: right;
  padding-bottom: 10px;
}
#save {
  background: #5855DF;
  padding: 6px 18px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#save:hover {
  background: #7855DF;
}

footer {
  color: #aaa;
}